verbose: true
database-resolution: PREFIXED
queryFunctionsAcrossAllMetastores: ${enable_query_functions_across_all_metastores}
yaml-storage:
  overwrite-config-on-shutdown: false
${graphite}
${exposed_endpoints}
${extended_server_config}
