  - name: ${prefix}
    access-control-type: READ_AND_WRITE_ON_DATABASE_WHITELIST
    database-prefix: ${prefix}_
    remote-meta-store-uris: thrift://${metastore_host}:${metastore_port}
${ mapped_databases == "" ? "" : "    mapped-databases:" }
${ mapped_databases == "" ? "" : join("\n",formatlist("    - %s",split(",",mapped_databases))) }
${ whitelist == "" ? "" : "    writable-database-white-list:" }
${ whitelist == "" ? "" : join("\n",formatlist("    - %s",split(",",whitelist))) }
