verbose: true
database-resolution: PREFIXED
queryFunctionsAcrossAllMetastores: ${queryFunctionsAcrossAllMetastores}
yaml-storage:
  overwrite-config-on-shutdown: false
${graphite}
${exposed_endpoints}
