primary-meta-store:
  access-control-type: READ_AND_WRITE_ON_DATABASE_WHITELIST
  database-prefix: ''
  name: primary
  remote-meta-store-uris: thrift://${primary_metastore_host}:${primary_metastore_port}
  latency: ${primary_metastore_latency}
%{if primary_metastore_mapped_databases != "" ~}
  ${indent(2,yamlencode({"mapped-databases:",primary_metastore_mapped_databases}))
%{~endif}
  writable-database-white-list:
${primary_metastore_whitelist}
federated-meta-stores:
${local_metastores}
${remote_metastores}
${remote_region_metastores}
${ssh_metastores}
